.header {
    background-image: url(/img/airplane.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
    &__nav {
        display: flex;
        justify-content: space-between;
    }

    &__menu {
        display: inline-flex;
        margin-top: 60px;
        
    }

    &__buttons {
        font-family: Roboto;
        font-size: 15px;
        font-weight: normal;
        color: #fff;
        height: 23px;
        margin-right: 13px;
        margin-left: 13px;
    }

    &__border {
        border-right: 1px dashed $alpha04;
        height: 20px;
        padding-top: 3px;
    }

    &__icon {
        margin-top: 23px;
        margin-right: 10px;
    }

    &__questions {
        margin-top: 48px;
    }

    &__text {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 300;
        color: #fff;
        margin-bottom: 5px;
        text-align: right;
    }

    &__link {
        font-family: Roboto;
        font-size: 19px;
        font-weight: bold;
        color: #fff;
        font-family: Roboto;
        text-decoration: none;
    }

    &__button {
        width: 160px;
        height: 45px;
        background-color: $orange;
        border: none;
        border-radius: 50px;
        margin-top: 44px;
        font-size: 12px;
        text-align: center;
        color: $white;
        text-transform: uppercase;
    }

    &__border:nth-child(6) {
        border-right: 0px dashed $alpha04;
    }

    &__buttons:hover {
        color: $orange;
        cursor: pointer;
        border-bottom: 1px solid $orange;
    }
}
