.sectionSeven {
    text-align: center;
    font-family: Roboto;
    text-align: center;
    padding-top: 51px;

    &__butTitle {
        font-size: 21px;
        font-weight: 300;
        color: $light-black;
    }
}