.sectionFour {
    font-family: Roboto;
    padding-top: 53px;
    padding-bottom: 58px;
    
    &__title {
        font-size: 26px;
        font-weight: bold;
        text-align: center;
        color: $light-black;
        text-transform: uppercase;
    }

    &__butText {
        font-size: 21px;
        font-weight: 300;
        line-height: 1.14;
        text-align: center;
        color: $light-black;
        margin-bottom: 34px;
    }

    &__cards {
        display: flex;
        justify-content: space-between;
    }

    &__card {
        width: 261px;
        border: solid 1px $light-light;
        padding: 2px 2px 25px;
        text-align: center;
    }

    &__subTitle {
        font-size: 14px;
        color: #2e2e2e;
        text-transform: uppercase;
    }

    .smallButton {
        margin-top: 0px;
    }

    &__cardTitle {
        font-size: 28px;
        color: $orange;
        margin-top: 5px;
    }

    &__cardText {
        font-size: 14px;
        font-weight: 300;
        line-height: 1.43;
        letter-spacing: normal;
        color: $light-black;
        margin: 20px 12px 25px;
    }

    &__iconShip {
        margin: 14px 0 12px ;
    }

    &__iconTrain {
        margin: 14px 0 10px;
    }

    &__iconTruck {
        margin: 9px 0 15px;
    }

    &__iconAirplane {
        margin: 13px 0 7px;
    }

    &__under {
        text-align: center;
    }

    &__twoTitle {
        margin: 56px 0 20px;

    }

}

.input {
    border: solid 1px rgba(0, 0, 0, 0.21);
    border-radius: 50px;
    margin: 15px 0 30px;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.85;
    text-align: left;
    padding: 10px 28px 9px 28px;
    width: 210px;
}

.middleButton {
    width: 180px;
    height: 45px;
    background-color: $orange;
    border: none;
    border-radius: 50px;
    font-size: 12px;
    text-align: center;
    color: $white;
    text-transform: uppercase;
}

.orangeLine {
    width: 148px;
    height: 1px;
    background-color: $orange;
    margin: 20px auto 17px;
}

.greenHeader {
    background-color: #25333c;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: normal;
    color: $white;
    text-transform: uppercase;
    padding: 23px 0 22px;
}